/*grid-layout*/

body {
	 display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-areas:
        "header header"
        "velocity veocity"
        "radar radar"
        ;
    width: 100vw;
    grid-gap: 5px;
}

header {
    grid-area: header;
}

.velocity {
	grid-area: article;
}

.radar {
	grid-area: radar;
}