/*grid-layout*/

body {
	 display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-areas:
        "header header"
        "article""article"
        ;
    width: 100vw;
    grid-gap: 5px;
}

header {
    grid-area: header;
}

article {
	grid-area: article;
}